*{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 30px;
    flex-direction: row-reverse;
}
[class*="col-"]{
    background-color: blue;
    color: white;
    padding: 10px;
}
.col-1 {
    flex: 8.33%;
  }
  .col-2 {
    flex: 16.66%;
  }
  .col-3 {
    flex: 25%;
  }
  .col-4 {
    flex: 33.33%;
  }
  .col-5 {
    flex: 41.66%;
  }
  .col-6 {
    flex: 50%;
  }
  .col-7 {
    flex: 58.33%;
  }
  .col-8 {
    flex: 66.66%;
  }
  .col-9 {
    flex: 75%;
  }
  .col-10 {
    flex: 83.33%;
  }
  .col-11 {
    flex: 91.66%;
  }
  .col-12 {
    flex: 100%;
  }
  @media (min-width:600px){
      .col-m-1{
          flex: 8.33%;
      }
      .col-m-2 {
        flex: 16.66%;
      }
      .col-m-3 {
        flex: 25%;
      }
      .col-m-4 {
        flex: 33.33%;
      }
      .col-m-5 {
        flex: 41.66%;
      }
      .col-m-6 {
        flex: 50%;
      }
      .col-m-7 {
        flex: 58.33%;
      }
      .col-m-8 {
        flex: 66.66%;
      }
      .col-m-9 {
        flex: 75%;
      }
      .col-m-10 {
        flex: 83.33%;
      }
      .col-m-11 {
        flex: 91.66%;
      }
      .col-m-12 {
        flex: 100%;
      }
  }
  @media (min-width:700px){
     .col-l-1{
         flex: 8.33%;
     }
     .col-l-2 {
        flex: 16.66%;
      }
      .col-l-3 {
        flex: 25%;
      }
      .col-l-4 {
        flex: 33.33%;
      }
      .col-l-5 {
        flex: 41.66%;
      }
      .col-l-6 {
        flex: 50%;
      }
      .col-l-7 {
        flex: 58.33%;
      }
      .col-l-8 {
        flex: 66.66%;
      }
      .col-l-9 {
        flex: 75%;
      }
      .col-l-10 {
        flex: 83.33%;
      }
      .col-l-11 {
        flex: 91.66%;
      }
      .col-l-12 {
        flex: 100%;
      }
}